In [1]:
import numpy as np
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df = pd.read_csv('../../data/raw/counties.csv')

In [3]:
df.head()
df.describe()
list(df.columns)

,Sort [1],State,FIPS,County [2],County Seat(s) [3],Population(2010),Land Areakm²,Land Areami²,Water Areakm²,Water Areami²,Total Areakm²,Total Areami²,Latitude,Longitude
0,1,AL,1001,Autauga,Prattville,"54,571","1,539.582",594.436,25.776,9.952,"1,565.358",604.388,+32.536382°,–86.644490°
1,2,AL,1003,Baldwin,Bay Minette,"182,265","4,117.522","1,589.784","1,133.190",437.527,"5,250.712","2,027.311",+30.659218°,–87.746067°
2,3,AL,1005,Barbour,Clayton,"27,457","2,291.819",884.876,50.865,19.639,"2,342.684",904.515,+31.870670°,–85.405456°
3,4,AL,1007,Bibb,Centreville,"22,915","1,612.481",622.582,9.289,3.587,"1,621.770",626.169,+33.015893°,–87.127148°
4,5,AL,1009,Blount,Oneonta,"57,322","1,669.962",644.776,15.157,5.852,"1,685.119",650.628,+33.977448°,–86.567246°

          Sort [1]          FIPS
count  3143.000000   3143.000000
mean   1572.000000  30390.408209
std     907.450274  15164.714091
min       1.000000   1001.000000
25%     786.500000  18178.000000
50%    1572.000000  29177.000000
75%    2357.500000  45082.000000
max    3143.000000  56045.000000

['Sort [1]',
 'State',
 'FIPS',
 'County [2]',
 'County Seat(s) [3]',
 'Population(2010)',
 'Land Areakm²',
 'Land Areami²',
 'Water Areakm²',
 'Water Areami²',
 'Total Areakm²',
 'Total Areami²',
 'Latitude',
 'Longitude']

In [4]:
df = df[['State', 
         'County [2]', 
         'Population(2010)', 
         'Total Areakm²',
         'Latitude',
         'Longitude']]

In [5]:
df.columns = [
    'State', 
    'County', 
    'Population', 
    'Total Area (km)',
    'Latitude',
    'Longitude'
    ]

In [6]:
df.Latitude = df.Latitude.str[:-1].astype(float)
df.Longitude = df.Longitude.str[:-1] \
                             .str.replace('–', '-') \
                             .astype(float)
df.Population = df.Population.str.replace(',', '').astype(int)
df = df[df.Population >= 0]
df['Total Area (km)'] = df['Total Area (km)'].str.replace(',', '').astype(float)

In [7]:
df.to_csv('../../data/cleaned/counties.csv', index=False)